{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Welcome, {{ user.username }}!</h2>

<h4>Your Bookings:</h4>
{% if bookings %}
    <ul class="list-group">
        {% for booking in bookings %}
            <li class="list-group-item">
                Spot ID: {{ booking.spot_id }} <br>
                Parking Time: {{ booking.parking_timestamp }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No bookings yet!</p>
{% endif %}

<a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Logout</a>
{% endblock %}


